<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Name : <%= @name %>
    Number : <%= @number %>
    Email : <%= @email %>
    Description : <%= @description %>
  </body>
</html>