<div id="footer">
	<div class="container clearfix">
		<div class="copyright">varkroman &copy; 2017</div>
		<div id="back_top"><a class="button" title="" data-slide="1">вернутися на початок</a></div> 
	</div>
</div>