<div class="menu">	
	<div class="container clearfix">

		<div id="logo" class="fleft">
		</div>
		
		<div id="nav" class="fright">
			<ul class="navigation">
				<li data-slide="1">Дім</li>
				<li data-slide="2">Про нас</li>
				<li data-slide="4">Галерея</li>
				<li data-slide="8">Контакти</li>
				<div class="clear"></div>
			</ul>
		</div>
	
	</div>
</div>