<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
	<div class="padding_slide1">
		<div class="container clearfix">

			<div id="content" class="grid_12">
				<div class="mac_block">
				<%= image_tag 'SL_2.png' %>
				</div>
				<div class="filtr_bg">
					<h1>SL Collection</h1>
					<h2>Львівське взуття</h2>
					<p>Наша компанія спеціалізується на торгівлі взуттям гуртом і дрібним гуртом. Ми реалізуємо те взуття, яке продається, так як маємо чималий досвід роботи в даному сегменті ринку і можемо з точністю спрогнозувати споживчі потреби в майбутньому сезоні.</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

</div>