<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
	
	<div class="container clearfix">
		
		<div id="content" class="col-md-12">
			<h1>Про нас</h1>
			<h5>Наша компанія стане хорошим помічником в створенні та розвитку Вашого бізнесу</h5>
		</div>
		
		<div id="content">
			<div class="col-md-5">
				<h4>Наше опитування</h4>
				<ul id="skills_block">
					<p>Жіноче взуття 90%</p>
					<li><span class="skill1"></span></li>
					<p>Чоловіче взуття 10%</p>
					<li><span class="skill2"></span></li>
					<!--<p>Дитяче взуття 5%</p>
					<li><span class="skill3"></span></li>-->
				</ul>
			</div>
			<div class="col-md-7 omega">
				<h4>Хто ми є</h4>
				<p>Наша компанія спеціалізується на торгівлі взуттям гуртом і дрібним гуртом. Ми реалізуємо те взуття, яке продається, так як маємо чималий досвід роботи в даному сегменті ринку і можемо з точністю спрогнозувати споживчі потреби в майбутньому сезоні.</p>
				<p>Асортимент формується у відповідності до нових тенденцій моди. Асортимент постійно оновлюється з врахуванням вимог сучасного дизайну і тенденцій моди. Основною метою співпраці для нас є встановлення довгострокових і взаємовигідних партнерських стосунків.</p>
			    </div>
			<div class="clear"></div>
		</div>
		
	</div>
</div>